Repository KodstarBootcamp/issue-tracker-2020-3, pull requests merged in 2020-12, with the labels that each got.

#64 Paging support for "issue list" #4
  backend/routes/issues.js
Labels: backend

#63 Handling of labels
  backend/models/issue.model.js
  backend/models/label.model.js
  backend/routes/issues.js
  backend/routes/labels.js
  backend/server.js
  backend/utils/config.js
  backend/utils/logger.js
  backend/utils/objUtils.js
Labels: backend

#61 Update API for Sprint-2 user stories
  backend/Kodstar-Issue_Tracker_3-1.0.1-swagger.json
Labels: backend

#58 Eslint rules backend
  backend/.eslintrc.js
  backend/index.js
  backend/models/issue.model.js
  backend/routes/issues.js
  backend/routes/labels.js
  backend/utils/config.js
  backend/utils/logger.js
  backend/utils/objUtils.js
Labels: backend

#66 added new codes for date-information
  backend/models/issue.model.js
Labels: backend

#68 fix compile issues of front-end 1st spriny functionality finished
  web/.eslintcache
  web/.eslintrc.js
  web/package-lock.json
  web/package.json
  web/src/App.js
  web/src/App.test.js
  web/src/components/CreateIssueForm.js
  web/src/components/EditForm.js
  web/src/components/Info.js
  web/src/components/Issue.js
  web/src/components/Issue.test.js
  web/src/components/Navigation.js
  web/src/components/ViewIssue.js
  web/src/index.js
  web/src/services/issues.js
Labels: bug, web

#59 added documentation in README.md file
  backend/README.md
Labels: backend

#69 date informated finished
  web/.eslintrc.js
  web/.gitignore
  web/src/components/CreateIssueForm.js
  web/src/components/EditForm.js
  web/src/components/Issue.js
  web/src/components/ViewIssue.js
  web/src/services/issues.js
  web/src/services/labels.js
Labels: web

#71 mdb memory server implemended
  backend/.gitignore
  backend/mongodb.js
  backend/package-lock.json
  backend/package.json
  backend/routes/issues.js
  backend/server.js
  backend/utils/config.js
Labels: backend

#72 added rules
  web/.eslintrc.js
Labels: web
